<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
  <a href="#" class="navbar-brand mt-5 jlm-logo">
    <div class="display-5">
      jerry lee melton
    </div>
  </a>
  <ul class="navbar-nav d-flex flex-column mt-5 w-100">
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">home</a>
    </li>
  </ul>

</nav>
