<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
  <a href="#" class="navbar-brand mt-5 jlm-logo">
    <div class="">
      jerry lee melton
    </div>
  </a>
  <ul class="navbar-nav d-flex flex-column mt-5 w-100">
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">
        home
      </a>
    </li>
    <li class="nav-item w-100 dropdown">
      <a href="#" class="nav-link pl-4 dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        portfolio
      </a>
      <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
        <li>
          <a href="#" class="dropdown-item text-light pl-4 p-2">
            product
          </a>
        </li>
        <li>
          <a href="#" class="dropdown-item text-light pl-4 p-2">
            abstract
          </a>
        </li>
        <li>
          <a href="#" class="dropdown-item text-light pl-4 p-2">
            nature and city
          </a>
        </li>
        <li>
          <a href="#" class="dropdown-item text-light pl-4 p-2">
            food
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">
        about
      </a>
    </li>
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">
        contact
      </a>
    </li>
  </ul>

</nav>
