<!-- Navigation Bar -->
  <nav class="sidebar">

    <!-- Site Logo -->
    <a href="#">
      <div class="navbar-brand jlm-logo">
        jerry lee melton
      </div>
    </a>

    <!-- Hamburger Button -->
    <a href="#" class="hamburger-button">
      <span class="burger-bar"></span>
      <span class="burger-bar"></span>
      <span class="burger-bar"></span>
    </a>

    <!-- Nav Menu -->
    <ul class="navbar-links">
      <li>
        <a href="#">
          home
        </a>
      </li>
      <li>
        <a href="#portfolioDropdownMenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="portfolioDropdownMenu" >
          portfolio
        </a>

        <!-- Portfolio Dropdown Menu -->
        <ul class="collapse w-100 list-unstyled" id="portfolioDropdownMenu">
          <li>
            <a href="#">
              proudct
            </a>
          </li>
          <li>
            <a href="#">
              abstract
            </a>
          </li>
          <li>
            <a href="#">
              nature and city
            </a>
          </li>
          <li>
            <a href="#">
              food
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          about
        </a>
      </li>
      <li>
        <a href="#">
          contact
        </a>
      </li>
    </ul>

  </nav>

<div id="main-content-container">
