<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
  <a href="#" class="navbar-brand mt-5 jlm-logo">
    <div class="">
      jerry lee melton
    </div>
  </a>
  <ul class="navbar-nav d-flex flex-column mt-5 w-100">
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">
        home
      </a>
    </li>
    <li class="nav-item w-100">
      <a href="#portfolioNavDropdown" class="nav-link pl-4" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="portfolioNavDropdown">
        portfolio
      </a>
      <ul class="collapse w-100 list-unstyled" id="portfolioNavDropdown">
        <li>
          <a href="#" class="portfolio-menu-item">
            product
          </a>
        </li>
        <li>
          <a href="#" class="portfolio-menu-item">
            abstract
          </a>
        </li>
        <li>
          <a href="#" class="portfolio-menu-item">
            nature and city
          </a>
        </li>
        <li>
          <a href="#" class="portfolio-menu-item">
            food
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">
        about
      </a>
    </li>
    <li class="nav-item w-100">
      <a href="#" class="nav-link pl-4">
        contact
      </a>
    </li>
  </ul>

</nav>
