<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div class="body-wrapper">

  <img src="/images/jlm_portrait_001.jpg" class="float-end" alt="jerry-portrait">

  <h1 class="header-text">about me</h1>

  <p class="about-text">Welcome! My name is Jerry and I’m a photographer and graphic designer with over fifteen years of experience in the field. As a creative professional, it’s often my job to present even the most everyday type of subjects in a way that strikes the viewer as bold and exciting—to make the ordinary into something extraordinary.</p>

  <p class="about-text">Today's digital society bombards us with more images than any other time in human history,  so now more than ever it’s critical for your brand's visual identity to stand out. That’s why I believe that one of the most valuable assets that a business can have is the expertise of a knowledgeable creative professional. With all of the fancy gear and software available today, there’s still no substitute for a clever, perceptive, discerning artistic eye, which is something that I bring to every project I’m lucky enough to work on.</p>

  <p class="about-text">From playing music to writing to drawing to—of course—design and photography, I’ve always been passionate about the arts, so having the chance to share that passion with people as my career has been one of the great joys in my life. If you’re ready to get your project moving or if you just need a quote, then please don’t hesitate to get in touch with me by clicking the button below. Thanks for stopping by!</p>
</div>

<%- include("partials/footer") -%>
