<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div class="home-container">
    <img src="/images/photo_portfolio_natcity_005.jpg" alt="" class="carousel-image">
</div>


<%- include("partials/footer") -%>
