<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div class="home-container">

  <div class="carousel-container">
    <img src="/images/photo_carousel_001.jpg" alt="carousel-image-01" class="carousel-image">
  </div>

</div>

<%- include("partials/footer") -%>
