<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div id="main-content-container">
  <div class="portfolio-body-wrapper">

    <section class="gallery">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <!-- Images -->
          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_001.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_001_thumb_sml.webp" alt="abstract_thumbnail_01" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_002.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_002_thumb_sml.webp" alt="abstract_thumbnail_02" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_003.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_003_thumb_sml.webp" alt="abstract_thumbnail_03" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_004.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_004_thumb_sml.webp" alt="abstract_thumbnail_04" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_005.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_005_thumb_sml.webp" alt="abstract_thumbnail_05" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_006.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_006_thumb_sml.webp" alt="abstract_thumbnail_06" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_007.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_007_thumb_sml.webp" alt="abstract_thumbnail_07" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_008.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_008_thumb_sml.webp" alt="abstract_thumbnail_08" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_009.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_009_thumb_sml.webp" alt="abstract_thumbnail_09" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_010.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_010_thumb_sml.webp" alt="abstract_thumbnail_10" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_011.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_011_thumb_sml.webp" alt="abstract_thumbnail_11" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_012.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_012_thumb_sml.webp" alt="abstract_thumbnail_12" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_013.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_013_thumb_sml.webp" alt="abstract_thumbnail_13" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_014.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_014_thumb_sml.webp" alt="abstract_thumbnail_14" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_015.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_015_thumb_sml.webp" alt="abstract_thumbnail_15" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_016.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_016_thumb_sml.webp" alt="abstract_thumbnail_16" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_abstract_017.webp" data-lightbox="abstract-lightbox">
              <img src="/images/photo_portfolio_abstract_017_thumb_sml.webp" alt="abstract_thumbnail_17" class="gallery-item img-fluid">
            </a>
          </div>

        </div>
      </div>

    </section>

  </div>
</div>

<%- include("partials/footer") -%>
