<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div id="main-content-container">
  <div class="portfolio-body-wrapper">

    <section class="gallery">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <!-- Images -->
          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_001.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_001_thumb_sml.webp" alt="abstract_thumbnail_01" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_002.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_002_thumb_sml.webp" alt="abstract_thumbnail_02" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_003.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_003_thumb_sml.webp" alt="abstract_thumbnail_03" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_004.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_004_thumb_sml.webp" alt="abstract_thumbnail_04" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_005.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_005_thumb_sml.webp" alt="abstract_thumbnail_05" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_006.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_006_thumb_sml.webp" alt="abstract_thumbnail_06" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_007.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_007_thumb_sml.webp" alt="abstract_thumbnail_07" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_008.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_008_thumb_sml.webp" alt="abstract_thumbnail_08" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_009.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_009_thumb_sml.webp" alt="abstract_thumbnail_09" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_010.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_010_thumb_sml.webp" alt="abstract_thumbnail_10" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_food_011.webp" data-lightbox="food-lightbox">
              <img src="/images/photo_portfolio_food_011_thumb_sml.webp" alt="abstract_thumbnail_11" class="gallery-item img-fluid">
            </a>
          </div>


        </div>
      </div>

    </section>

  </div>
</div>

<%- include("partials/footer") -%>
