<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div id="main-content-container">
  <div class="portfolio-body-wrapper">

    <section class="gallery">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <!-- Images -->
          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_001.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_001_thumb_sml.jpg" alt="nature-and-city_thumbnail_01" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_002.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_002_thumb_sml.jpg" alt="nature-and-city_thumbnail_02" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_003.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_003_thumb_sml.jpg" alt="nature-and-city_thumbnail_03" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_004.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_004_thumb_sml.jpg" alt="nature-and-city_thumbnail_04" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_005.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_005_thumb_sml.jpg" alt="nature-and-city_thumbnail_05" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_006.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_006_thumb_sml.jpg" alt="nature-and-city_thumbnail_06" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_007.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_007_thumb_sml.jpg" alt="nature-and-city_thumbnail_07" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_008.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_008_thumb_sml.jpg" alt="nature-and-city_thumbnail_08" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_009.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_009_thumb_sml.jpg" alt="nature-and-city_thumbnail_09" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_010.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_010_thumb_sml.jpg" alt="nature-and-city_thumbnail_10" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_011.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_011_thumb_sml.jpg" alt="nature-and-city_thumbnail_11" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_012.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_012_thumb_sml.jpg" alt="nature-and-city_thumbnail_12" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_013.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_013_thumb_sml.jpg" alt="nature-and-city_thumbnail_13" class="gallery-item img-fluid">
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mt-3 mb-3">
            <a href="/images/photo_portfolio_natcity_014.jpg" data-lightbox="nature-and-city-lightbox">
              <img src="/images/photo_portfolio_natcity_014_thumb_sml.jpg" alt="nature-and-city_thumbnail_14" class="gallery-item img-fluid">
            </a>
          </div>

        </div>
      </div>

    </section>

  </div>
</div>

<%- include("partials/footer") -%>
