body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

/* Main Content ============================================================= */

#main-content-container {
  padding-left: 420px;
}

.body-wrapper {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.about-text,
.header-text {
  font-family: "Lora", serif;
  color: #000000;
}

.about-text {
  font-size: 1.2rem;
}

.header-text {
  margin-bottom: 1.5rem;
}

.text-wrapper {

}

.body-wrapper {
  padding-top: 6rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.jlm-portrait {
  max-width: 50%;
  height: auto;
  padding-top: 4.9rem;
  padding-left: 2.4rem;
  padding-bottom: 2.4rem;
}

.jlm-button {
  font-family: "CenturyGothic-Bold", sans-serif;
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.6rem 2rem 0.6rem 2rem;
  outline: none !important;
  box-shadow: none !important;
}

.jlm-button:hover {
  background-color: #303030;
  border: 1px solid #303030;
  color: #ffffff;
}

.jlm-button:active {
  border: 1px solid #3BB9FF;
  background-color: #3BB9FF;
}

.jlm-button:focus {
  outline: none !important;
}

/* Navbar Styles ============================================================ */

.jlm-logo {
  font-family: "JosefinSans-Light", sans-serif;
  font-weight: light;
  font-size: 3.5rem;
  color: #000000;
  letter-spacing: -0.05em;
  margin-top: 5.0rem;
  margin-right: 0;
  text-align: center;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 420px;

  background-color: teal;
}

.hamburger-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  width: 30px;
  height: 26px;
  flex-direction: column;
  justify-content: space-between;
}

.burger-bar {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;

}

.navbar-links {
  flex-direction: column;
  align-items: flex-start;
  background-color: yellow;
}

.navbar-links a {
  color: #000000;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #3BB9FF;
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .sidebar {
    height: 90px;
    width: 100vw;
  }

  .hamburger-button {
    display: flex;
  }

  .navbar-links {
    display: none;

    width: 100%;
    text-align: center;
  }

  .navbar-links a {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }

  #main-content-container {
    padding-left: 0px;
    padding-top: 100px;
  }

  .jlm-logo {
    font-size: 3.0rem;
    margin-top: 0.25rem;
    margin-left: 2rem;
    text-align: left;
  }


}
